header.masthead {
  position: relative;
  width: 100%;
  height: 200%;
  padding-top: 150px;
  padding-bottom: 100px;
  color: white;
  background: url("../img/bg-pattern.png"), #4870A0;
  background: url("../img/bg-pattern.png"), linear-gradient(to left, #4870A0, #dc2430);
}
section.cta {
  position: relative;
  padding: 250px 0;
  background-image: url("../img/bg.jpg");
  background-position: center;
  background-size: cover;
}
