header.masthead {
  position: relative;
  width: 100%;
  height: 200%;
  padding-top: 150px;
  padding-bottom: 100px;
  color: white;
  background: url("../img/bg-pattern.png"), #4870A0;
  background: url("../img/bg-pattern.png"), linear-gradient(to left, #4870A0, #dc2430);
}
section.cta {
  position: relative;
  padding: 300px 0;
  background-image: url("../img/bg3.jpg");
  background-size: cover;
  background-position: center;
  background-size: cover;
}
section.cta .cta-content h2 {
  font-size: 50px;
  max-width: 200px;
  margin-top: 0;
  margin-bottom: 25px;
  margin-left: auto;
  margin-right: auto;
  color: white;
  text-align: bottom;
}
section.cta .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0);
}
